.jobItem {
  list-style-type: none;
  padding: 5px;
  margin: 2px;
  position: relative;
  background:rgba(216,255,211,0.5);
  border: solid 1px;
  border-radius: 5px;
  border-color: #AAAAAA;
}

.jobDetails{
  display: inline;
}

.lastSuccess{
  display: inline;
  font-size: 9px;
  padding-left: 5px;
  color: rgb(119, 119, 119);
}

.inactive {
  background: #ffd8d8;
}

.idle {
  background: #fcd685;
}

.idle:hover {
  content: "This is some text";
}

.deleteImage {
  height: 15px;
  padding-top: 1px;
  float: right;
}

.statusImage {
  height: 15px;
  padding-top: 1px;
  padding-right: 4px;
  float: right;
  opacity: 0.5;
}

.statusImage:hover {
  content: "text";
}

/* Tooltip container */
.tooltip {
  float: right;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  margin: -30px 0 0 15px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}