.jobItem {
  list-style-type: none;
  padding: 5px;
  margin: 2px;
  position: relative;
  background:rgba(216,255,211,0.5);
  border: solid 1px;
  border-radius: 5px;
  border-color: #AAAAAA;
}

.jobDetails{
  display: inline;
}

.lastSuccess{
  display: inline;
  font-size: 9px;
  padding-left: 5px;
  color: rgb(119, 119, 119);
}

.inactive {
  background: #ffd8d8;
}

.deleteImage {
  height: 15px;
  padding-top: 1px;
  float: right;
}

.statusImage {
  height: 15px;
  padding-top: 1px;
  padding-right: 4px;
  float: right;
  opacity: 0.5;
}