.flightEntry {
	float: left;
	padding: 5px;
	border: solid 1px;
	border-radius: 5px;
	border-color: #AAAAAA;

	font-size: 11px;
}

.flightLabel {
	float: left;
	padding: 5px;
	border: solid 1px;
	border-radius: 5px;
	border-color: #AAAAAA;

	font-size: 10px;
}

.flightDetailsWrapper {
	height: auto;
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
	border-color: #AAAAAA;
	background: rgba(255,255,255,0.5);
	margin-bottom: 5px;
}