.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.contentWrapper {
	padding: 0 0 0 265px;
}

.content {
	height: auto;
	min-height: 200px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	border-color: #AAAAAA;
	background: rgba(255,255,255,0.5);
}
